body {
    margin: 0px;
    padding: 2em;
    font-family: sans-serif;
    font-size: 1.1em;
}

h1 {font-size: 2rem}
h2 {font-size: 1.5rem}
h3 {font-size: 1.3rem}
h4 {font-size: 1.1rem}
h5 {font-size: 1.05rem; color: #333}
h6 {font-size: 1.05rem; color: #666}

.nav {
    background: rgb(31, 133, 0);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 2em;
}

.nav a {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-decoration: none;
    color: #fff;
    background: none;
}

.nav a:hover {
    text-decoration: underline;
    background: #333;
}

.nav > span {
    color: #fff;
    background: none
}

.nav > span > a {
    display: none;
}

.nav > span:hover > a {
    display: block;
}

.nav > * {display: block; padding: 0.2rem}


.dropDown {
    position: relative;
    display: inline-block;
}
.dropDownContent-hover, .dropDownContent-Click {
    display: none;
    position: absolute;
    white-space: nowrap;
    background-color: #f9f9f9;
    border: 1px dotted gray;
    box-shadow: 0px 0.5rem 1rem 0px #102040;
    z-index: 1;
}
.dropDownContent-hover a, .dropDownContent-Click a {
    display: block;
    color: black;
    font-size: 1rem;
    border-radius: 0pt;
}
.dropDownContent-hover a:hover, .dropDownContent-Click a:hover {
    background-color: #80d0d0;
}
.dropDown:hover .dropDownContent-hover {
    display: block;
}
/* note: dropDownContent-click need to handle the display block<->none in javascript */

.metadata {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
}